@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.blueShadow {
  box-shadow: 3px 3px 0 0 #60a5fa;
  
}.blueShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 0 #60a5fa;
}
  
